<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <title>Book Store</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-6">Liber</h1>
            <p class="lead">Book Store</p>
            <p class="lead">Cadastro</p>
        </div>
    </div>
        <div class="m-2">
        <a class="btn btn-primary" href="/cadastrar">Novo Livro</a>
        <a class="btn btn-primary" href="/cadastrarC">Novo Cliente</a>
        </div>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>